* {
    line-height: auto;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: inherit;
    list-style: none;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFEFEF;
  }
  
  .icones {
    display: none;
    cursor: pointer;
    
  }

  .botao {
    color: #000000;
    border: none;
    background: none;
  }

  .material-icons.md-48 {
    font-size: 34px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
  }

  .logo {
    width: 150px;
  }

  .button-item {
    display: none;
    background-color: #CD682B;
    width: 120px;
    color: white;
    border-radius: 40px;
  }

  .menu-lista {
    display: flex;

  }

  .menu-item {
    color: black;
  }

  .menu-lista a {
    padding: 1em;
  }

  .menu-lista a:hover {
    color: #EEBA51;
    transition: all 0.3s;
  }

  .destaque {
    color: #EEBA51;
    font-weight: bold;
  }

  .card-um {
    text-align: center;
  }

  .button-um {
    background-color: #CD682B;
    color: white;
    padding: 12px;
    border-radius: 90px;
    font-weight: 700;
    width: 238px;
    font-size: 14px;
    align-items: center;
    text-align: center;
  }

  .titulo-dois {
    text-align: center;
    padding-top: 100px;
    font-size: 52px;
    font-weight: 600;
  }

  .bt-principal-div {
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
  }

  .bt-principal {
    color: white;
    background-color: #CD682B;
    font-size: 17px;
    padding: 20px;
    border-radius: 30px;
    font-weight: 700;
    width: 10px;
    display: block;
    width: 200px;
  }

  .seta {
    text-align: center;
    padding-top: 40px;
    border-radius: 100px;
    display: none;
    justify-content: center;
  }

  .seta-dois {
    border-radius: 10px;
  }

  .section-dois {
    display: grid;
    grid-template-columns: 18% 18% 18%;
    justify-content: center;
    padding-top: 50px;
    gap: 2em;
  }

  .card-principal {
    padding-top: 10px;
    width: 350px;
    height: 516px;
    border-radius: 10px;
    background-color: white;
  }

  .titulo-card {
    text-transform: uppercase;
  }

  .card {
    
  }

  .img-card {
    margin-left: 30px;
    margin-top: 30px;
    background-color: #CD682B;
    border-radius: 20px;
  }

  .texto-card {
    padding-left: 40px;
    padding-top: 20px;
  }


  footer {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
  }

  .texto-f1 {
    padding-top: 20px;
  }

  .redes-footer {
    padding-top: 20px;
  }

  .redes-footer a {
    padding: 2px;
  }

  footer a {
    color: black;
    line-height: 40px;
  }

  input {
    padding: 18px;
  
  }

  .card-send {
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
  }

  .send {
    position: absolute;
    margin-top: -30px;
    overflow: hidden;
    margin-right: -200px;
  }

  .copy {
    text-align: center;
    padding-top: 50px;
    margin: 1em;
  }

  @media screen and (max-device-width: 1000px){

    .section-dois {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        padding-top: 50px;
      }

      .menu-lista {
        display: none;
      }

      .icones {
        display: flex;
        justify-content: right;
        margin-top: -40px;
        padding-right: 10px;
      }

      .logo {
        padding-top: 10px;
        padding-left: 5px;
      }

      .menu-item {
        display: inline-block;
      }

      .menu-lista {
        height: 100vh;
        padding-top: 100px;
      }

      .button-item {
        display: block;
      }

      .button-um {
        display: none;
      }

      .bt-principal-div {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .seta {
        display: flex;
      }
      
      nav {
        display: block;
        padding-top: 5px;
        padding-left: 5px;
      }

      footer {
        display: grid;
        padding-left: 20px;
      }

      .copy {
        font-size: 12px;
      }

      .card-send {
        border-radius: 20px;
        width: 230px;
      }
  }