* {
    line-height: auto;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: inherit;
    list-style: none;
  }

  html {
    scroll-behavior: smooth;
  }

  .topo {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .ver-mais {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .bt-ver-mais {
    background-color: #CD682B;
    cursor: pointer;
    color: #EFEFEF;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFEFEF;
  }

  .icones {
    display: none;
    cursor: pointer;
    
  }

  .icones:hover{
    cursor: pointer;
  }

  .botao {
    color: #000000;
    border: none;
    background: none;
  }

  .material-icons.md-48 {
    font-size: 34px;
}

  .button-item {
    display: none;
    background-color: #CD682B;
    width: 120px;
    color: white;
    border-radius: 40px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
  }

  .destaque {
    color: #EEBA51;
    font-weight: bold;
    line-height: 40px;
  }

  .destaque-home {
    color: #EEBA51;
  }


  .menu-lista {
    display: flex;

  }

  .menu-item {
    color: black;
  }

  .menu-lista a {
    padding: 1em;
  }

  .menu-lista a:hover {
    color: #EEBA51;
    transition: all 0.3s;
  }

  .button-um {
    background-color: #CD682B;
    color: white;
    padding: 12px;
    border-radius: 90px;
    font-weight: 700;
    width: 238px;
    font-size: 14px;
    align-items: center;
    text-align: center;
  }

  .section-principal {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .img-principal {
    border-radius: 10px;
    height: 500px;
    width: 516px;
  }

  .texto-pao {
    color: white;
    padding-top: 30px;
    line-height: 1.em;
    font-size: 64px;
    font-weight: 700;
  }

  .section-um {
    background-color: black;
    border-radius: 30px;
    width: 1600px;
    height: 700px;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
  }

  .bt-bsb {
    font-size: 16px;
    padding: 20px;
    width: 250px;
    border-radius: 40px;
    font-weight: bold;
  }

  .texto-principal {
    color: white;
    padding-top: 30px;
    line-height: 1.em;
    font-size: 64px;
    font-weight: 700;
  }

  .texto-section-um {
    width: 100%;
  }

  .texto-card-um {
    color: white;
    font-size: 18px;
    line-height: 1.5em;
    padding-top: 20px;
    width: 100%;
  }

  .texto-branco {
    color: white;
    font-size: 18px;
    line-height: 1.5em;
    padding-top: 20px;
    width: 100%;
  }
  
  .bt-principal {
    color: white;
    background-color: #CD682B;
    font-size: 17px;
    padding: 20px;
    border-radius: 30px;
    margin-top: 50px;
    font-weight: 700;
  }

  .card-l {

  }

  .card-r {

  }

.seta {
  text-align: center;
  text-align: center;
  margin-top: -80px;
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.seta-dois {
  border-radius: 10px;
}

.seta-mobile {
  text-align: center;
  text-align: center;
  margin-top: -80px;
  position: absolute;
  width: 100%;
  cursor: pointer;
  display: none;
}

.titulo-dois {
  text-align: center;
  padding-top: 100px;
  font-size: 52px;
  font-weight: 600;
}

.section-dois {
  display: grid;
  grid-template-columns: 18% 18% 18%;
  justify-content: center;
  padding-top: 50px;
  gap: 2em;
}

.cartao {

}

.card-principal {
  padding-top: 10px;
  width: 350px;
  border-radius: 10px;
  background-color: white;
  height: 516px;
}

.card {
  
}

.img-card {
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 20px;
}

.texto-card {
  padding-left: 40px;
  padding-top: 20px;
}

.box-clientes {
  padding-top: 200px;
}

.empresa-cliente {
  padding-left: 5px;
}

.clientes {
  background-image: url(fundo-preto.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0;
  height: 80vh;
}

.img-clientes {
  width: 250px;
}

.card-clientes {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 2em;
}

.texto-cliente {
  color: white;
  padding-top: 30px;
  line-height: 1.em;
  font-size: 64px;
  font-weight: 700;
}

.clientes-l {
}

.clientes-r {
}

.card-sobre {
  text-align: center;
  padding-top: 200px;
}

.texto-sobre {
  color: white;
  line-height: 20px;
  font-size: 18px;
  padding-top: 50px;
}

.texto-principal-sobre {
  color: white;
  padding-top: 30px;
  line-height: 1.em;
  font-size: 45px;
  font-weight: 700;

}

.teste {}

.texto-teste {
  position: absolute;
  width: 100%;
  margin-top: -550px;
}

.bt-sobre {
  color: white;
  background-color: #CD682B;
  font-size: 17px;
  padding: 20px;
  border-radius: 30px;
  margin-top: 50px;
  font-weight: 700;

}

.sobre-nos {
  background-image: url(Rectangle\ 34624225.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1000px;
}

.box-sobre-preto {
  background-color: black;
}

.box-depoimentos {
  margin-top: -100px;
  height: 100%;
}

.depoimentos {
  background-image: url(fundo-preto.png);
  background-repeat: no-repeat;
  background-size: 100%;
  
}

.texto-depoimento {
  text-align: center;
  padding-top: 200px;
}

.depoimento {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.cartao-depoimento {
  padding: 2em;
}

.card-depoimento {
  background-color: white;
  border-radius: 10px;
  padding: 1.5em;
  background-image: url(aspas.svg);
  background-repeat: no-repeat;
  background-position: right top;
}


.texto-depoimento-card {
  padding-top: 20px;

}

.img-depoimento {
  padding-top: 20px;
}

.nome-depo {
  position: absolute;
  padding-top: 25px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 14px;
}

.nome-depo-dois {
  position: absolute;
  padding-top: 45px;
  padding-left: 10px;
  font-size: 14px;

}

.contato {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 100px;
  padding-bottom: 100px;

}

.card-contato {
  background-color: white;
  border-radius: 100px;
  margin-top: 150px;
}

.icone-contato {
  padding-top: 20px;
  display: flex;
  gap: 1em;

}

.mapa-teste {
  width: 600px;
}


.texto-contato {
  font-size: 44px;
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: space-around;
  padding-top: 200px;
}

.texto-f1 {
  padding-top: 20px;
}

.redes-footer {
  padding-top: 20px;
}

.redes-footer a {
  padding: 2px;  
}

footer a {
  color: black;
  line-height: 40px;
}

.item-footer-tres {
  line-height: 40px;
}

input {
  padding: 18px;

}

.card-send {
  overflow: hidden;
  border-radius: 20px;
  background-color: white;
}

.send {
  position: absolute;
  margin-top: -30px;
  overflow: hidden;
  margin-right: -200px;
}

.copy {
  text-align: center;
  padding-top: 50px;
  margin: 1em;
}

@media screen and (max-device-width: 1000px) {

  .menu-lista {
    display: none;
  }

  .icones {
    display: flex;
    justify-content: right;
    margin-top: -40px;
    padding-right: 10px;
  }

  .logo {
    padding-top: 10px;
    padding-left: 5px;
  }

  .menu-item {
    display: inline-block;
  }

  .menu-lista {
    height: 100vh;
    padding-top: 100px;
  }

  .texto-pao {
    color: white;
    padding-top: 30px;
    line-height: 1.em;
    font-size: 54px;
    font-weight: 700;
  }

  .button-item {
    display: block;
  }

  .button-um {
    display: none;
  }

  nav {
    display: block;
    padding-top: 5px;
    padding-left: 5px;
  }

  .texto-card-um {
    color: white;
    font-size: 14px;
    line-height: 1.5em;
    padding-top: 20px;
    width: 100%;
  }


  

  .section-um {
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    width: 380px;
    height: 800px;
    display: grid;
    justify-content: center;
    padding-top: 10px;
    text-align: center;
  }

  .bt-bsb {
    font-size: 16px;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 40px;
    font-weight: bold;
  }

  .texto-principal {
    color: rgb(255, 255, 255);
    padding-top: 30px;
    line-height: 1.em;
    font-size: 45px;
    font-weight: 700;
  }
  
  .img-principal {
    width: 350px;
    height: 242px;
  }

  .bt-bsb {
    display: none;
  }

  .seta-mobile {
    text-align: center;
    text-align: center;
    margin-top: -30px;
    position: absolute;
    width: 100%;
    cursor: pointer;
    display: none;
  }

  .seta-dois {
    border-radius: 10px;
    border: solid 1px orangered;
    width: 50px;
  }

  .seta {
    display: none;
  }

  .section-dois {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding-top: 50px;
  }

  .box-clientes {
    padding-top: 30px;
    background-image: url(fundo-preto.png);
    height: 700px;
    background-repeat: no-repeat;
  }

  .bt-principal {
    color: white;
    background-color: #CD682B;
    font-size: 12px;
    padding: 15px;
    border-radius: 30px;
    margin-top: 50px;
    font-weight: 700;
  }

  .card-clientes {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 1em;
    padding-top: 70px;
  }

  .clientes {
    background-image: url(fundo-preto.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    display: grid;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    height: 100vh;
  }

  .texto-branco {
    color: white;
    font-size: 14px;
    line-height: 1.5em;
    padding-top: 20px;
    width: 100%;
  }

  .img-clientes {
    width: 100px;
  }

  .texto-cliente {
    color: white;
    padding-top: 50px;
    line-height: 1.em;
    font-size: 52px;
    font-weight: 600;
    margin-top: 0px;
  }

  .clientes {
    background-image: url(fundo-preto.png);
    background-repeat: no-repeat;
    background-size: 1200px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: 400px;
  }

  .texto-sobre {
    color: white;
    line-height: 15px;
    font-size: 11px;
    padding-top: 0;
  }

  .texto-teste {
    display: block;
    width: 100%;
    margin-top: -150px;
    background-color: #0000003b;
    border-radius: 20px;
    height: 350px;
  }

  .teste {
    display: none;
  }


  .bt-sobre {
    color: white;
    background-color: #CD682B;
    font-size: 12px;
    padding: 20px;
    border-radius: 30px;
    margin-top: 500px;
    font-weight: 700;

    
  }

  .sobre-nos {
    background-image: url(Rectangle\ 34624225.png);
    background-repeat: no-repeat;
    background-size: 100vh;
    height: 500px;
  }

  .box-depoimentos {
    margin-top: -100px;
    height: 100%;
  }

  .depoimentos {
    background-image: url(fundo-preto.png);
    background-repeat: no-repeat;
    background-size: 280vh;
    
  }

  .depoimento {
    padding-top: 50px;
    display: grid;
    justify-content: center;
  }

  .contato {
    display: grid;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .mapa-teste {
    width: 370px;
  }

  .card-contato {
    border-radius: 100px;
    margin-top: 5px;
    background-color: #EFEFEF;
  }


  footer {
    display: grid;
    padding-left: 20px;
    padding-top: 100px;
  }

  .copy {
    font-size: 12px;
  }

  .card-send {
    border-radius: 20px;
    width: 230px;
  }




  

  
  

  
}